#dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.7;
}

#dialog {
  position: fixed;
  background-color: white;
  width: 400px;
  height: 300px;
  margin: auto;
  left: 0;
  right: 0;
  top: 200px;
}

.flex-container {
  display: -webkit-flex;
  display: flex;    
}

.page-layout {
  flex-flow: column nowrap;
  justify-content: space-around;
}

.flex-header {
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  background: #ffcf3e;
}

.review-layout {
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
}

#review-canvas {
  border: 10px solid #000000;
  flex-grow: 1;
  flex-shrink: 1;
}

#review-show-notation {
  display: none;
  border-left: 4px solid #aa00bb;
  flex-basis: 25%;
  flex-grow: 1;
  padding-left: 8px;
  overflow: auto;
}

.flex-header h1 {
  margin-right: auto;
  padding-left: 15px;
}

.header-nav {
  flex-direction: column;
  border-style: dashed;
  border-color: black #ffcf3e;
  color: black;
  align-items: flex-end;
}

.header-nav a:visited {
  color: black;
}

.header-nav a:hover {
  color: red;
}

.flex-item {
    
}

#logo {
  height: 48px;
  width: 48px;
}

#page-content {
  margin: 20px;
}

