@import models.entities.User

@(links: List[String])

<h1>
  Hi! This is tolkotvor blog.
</h1>
<p>Map of site:</p>
<ul style="list-style-type:none">
  @links.map { l =>
    <li><a href="@l">@l</a></li>
  }
</ul>
