@import helper._
@import models.forms._
@import models.entities.Picture

@(notationForm: Form[(Int, Int, String)], picture: Picture)(implicit messages: Messages)

<div id="dialog-wrapper" style="display: none;">
  
  <div id="dialog-overlay"></div>
  
  <div id="dialog">
    
    @helper.form(action = routes.NotationController.sendNotation(picture.uniqueName)) {
      <input type="hidden" name="@{notationForm("x coordinate").name}">
      <input type="hidden" name="@{notationForm("y coordinate").name}">
      @textarea(field = notationForm("comment"), '_label -> "Your comment to this point", 'style -> "resize: none")
      <input type="submit" value="commit">
      }
  </div>
</div>

