@import models.entities.{Picture, User}

@(pics: Seq[Picture], staticRoute: String)

<ul>
  @pics.map { pic =>
    <li><a href="@routes.PictureController.showPicture(pic.uniqueName)">@pic.name</a></li>
  }
  
</ul>
