@import models.entities.Picture

@(route: String, picture: Picture)(implicit messages: Messages)

<div class="flex-container review-layout">

  <canvas id="review-canvas" width="800" height="680" data-image="@{s"$route${picture.uniqueName}.jpg"}">
  </canvas>
  
  @notation_view(models.forms.Repository.notationForm, picture)
  
  <div id="review-show-notation">  
  </div>
  
</div>



