@import models.entities.User

@(optUser: Option[User])

@optUser.map { user =>
  <div>
  <ul>
  <li>Name: @user.name</li>
  <li>Email: @user.email.getOrElse("None")</li>
  <li>Registered: @user.registered.toString</li>
  </ul>
  </div>
}.get
