@import helper._
@import models.entities.User

@(uploadPictureForm: Form[(String, String, String)])(implicit messages: Messages)

@form(action = routes.PictureController.uploadPicture, 'enctype -> "multipart/form-data") {
  @inputText(uploadPictureForm("name"))
  @inputText(uploadPictureForm("description"))
  @inputText(
    uploadPictureForm("tags"),
    'placeholder -> "tag1 tag2 tag3"
  )
  <input type="file" name="picture">
  <p>
    <input type="submit">
  </p>
}
